<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Last Dance</title>
</head>
<body>
    <h1>The Last Dance</h1>
    <a href="/championships">All of Michael Jordans Championships</a>
</body>
</html>