<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Favorite MJ Memory and Shoe</title>
</head>
<body>
    <h1>Favorite MJ Memory and Shoe? </h1>
    <a href="/championships">Championships</a>
    <a href="/">Homepage</a>

    <form action="/memories" method="POST">
        <!-- <input type="text" name="title"> -->
        <input type="submit" value="Memory">
        <textarea id="memory"cols="30" rows="10"></textarea>
    </form>
</body>
</html>